@using BucView.Models
@model BucView.Models.Building
@{
    ViewData["Title"] = "Directions";
}
@{
    if (ViewData["FromBuilding"]!.Equals("N/A"))
    {
        <h1>Start of tour</h1>
        <h1>Directions to @ViewData["ToBuilding"]</h1>
    }
    else
    {
        <h1>Directions from @ViewData["FromBuilding"] to @ViewData["ToBuilding"]</h1>
    }
}
<p>
    @Model.directions
</p>

<a class="btn btn-link" asp-controller="Tour" asp-action="Index" asp-route-id="@ViewData["ToBuilding"]">Found It!</a>